body{
	background: #fff;
}

nav{
	background: #00ADE2;
	color: #fff;
}

h1{
	letter-spacing: -2px;
	font-weight: normal;
}


.powered{
	color: #fff;
}

nav .nav-bars, nav .nav-gears{
	color: #fff;
}

nav ul{
/* 	background: #fff; */
	color: #333;
}

nav li a:hover, nav li.active a{
	font-weight: bold;
	color: #333;
}

nav li a{
	color: #333;	
}

nav li a:hover i, nav li.active a i{
	color: red;
}